#nav__container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#nav__logo {
  font-weight: 900;
  margin: 1em;
}

#nav__routes {
  grid-area: 1 / 2 / 2 / 7;
  display: grid;
  grid-auto-flow: column;
}

#nav__register {
  grid-area: 1 / 7 / 2 / 8;
}

.navBarButton {
  transition: 2s ease, 0.3s ease;
}

.navBarButton:hover {
  text-shadow: 0px 0px 20px black;
}

.navBarButton:active {
  text-shadow: 0px 0px 20px black, 0px 0px 20px black;
  color: white;
  transition: 0s ease, 0s ease;
}


